.how {
  &__inner {
    display: flex;
    flex-direction: column;
    margin-top: 170rem;
    margin-bottom: 160rem;

    @media (max-width: 768px) {
      margin-top: 67rem;
      margin-bottom: 169rem;
    }

    .how__row-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .how__heading {
        font-size: 48rem;
        font-weight: 700;
        display: inline-block;
        padding-bottom: 40rem;
        position: relative;
        height: max-content;

        @media (max-width: 768px) {
          font-size: 28rem;
          padding-bottom: 18rem;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 81.5rem;
          height: 5rem;
          background-color: #D54443;

          @media (max-width: 768px) {
            height: 3rem;  
          }
        }
      }

      .how__paragraph {
        text-align: right;
        font-size: 24rem;
        line-height: 120%;
        max-width: 661rem;

        @media (max-width: 768px) {
          text-align: left;
          font-size: 16rem;
          margin-top: 25rem; 
          margin-bottom: 35.3rem;
        }
      }
    }

    .how__row-bottom {
      margin-top: 73rem;
      position: relative;
      display: flex;
      gap: 41rem;
     
      @media (max-width: 768px) {
        margin-top: 0;
        flex-direction: column;
        gap: 36rem;
      }

      @media (min-width: 768px) {
      .how__row-bottom__card:hover .how__row-bottom__card__background-color {
          opacity: 1;
        }
      }
      
      .how__row-bottom__card {
        width: 529rem;
        height: 646rem;
        padding: 370rem 50rem 0 0;        
        border-radius: 5rem;
        position: relative;
        background-color: transparent;
        transition: all 0.5s;

        &:hover {
          background-color: #FD8D1C;
        }

        @media (max-width: 768px) {
          padding: 111rem 15rem 0 0;
          margin-top: 0;
          width: 312rem;
          height: 308rem;
        }

        &__text {
          position: absolute;
          bottom: 110rem;
          padding-right: 75rem;
          padding-top: 53rem;

          @media (max-width: 768px) {
              bottom: 87rem;
              padding-right: 30rem;
            }
        }

        .how__row-bottom__card__background {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        .how__row-bottom__card__background-color {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: #FD8D1C;
          opacity: 0;
          z-index: 0;
          transition: all 0.5s;
        }

        &__heading {
          font-size: 32rem;
          font-weight: 700;
          line-height: 120%;
          margin-bottom: 15rem;
          display: inline-block;
          color: var(--tertiary-bg);
          padding-left: 70rem;
          z-index: 1;
          position: relative;

          @media (max-width: 768px) {
            font-size: 20rem;
            padding-left: 26rem;
          }
        }

        &__paragraph {
          font-size: 18rem;
          line-height: 120%;
          margin-bottom: 36rem;
          display: inline-block;
          color: var(--tertiary-bg);
          padding-left: 70rem;
          z-index: 1;
          position: relative;

          @media (max-width: 768px) {
            font-size: 12rem;
            padding-left: 26rem;
            margin-bottom: 22rem;
          }
        }

        &__button {
          font-size: 18rem;
          line-height: 120%;
          font-weight: 700;
          transition: all 0.5s;
          color: var(--tertiary-bg);
          background-color: #FD8D1C;
          width: 282rem;
          height: 111rem;
          display: block;
          padding: 49rem 39rem 40rem 70rem;
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
          white-space: nowrap;
          position: absolute;
          bottom: 0;

          @media (max-width: 768px) {
            font-size: 14rem;
            padding: 27rem 57rem 21rem 26rem;
            width: 184rem;
            height: 65rem;
          }

          &::after {
            content: "";
            background: url("../../../../assets/images/arrow-circle-down-white.svg") no-repeat;
            width: 24rem;
            height: 24rem;
            display: inline-block;
            background-size: contain;
            margin-top: -1rem;
            margin-left: 18rem;
            position: absolute;

            @media (max-width: 768px) {
              width: 20rem;
              margin-top: -2rem;
            }
          }
        }
      }

      .how__row-bottom__card-one {
        @media (max-width: 768px) {
          margin-top: 276rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
