.lightbox-overlay-who_we_helped {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 106vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  overflow: hidden;

  .lightbox-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 900rem;
      height: 507rem;
      box-shadow: 0 30rem 45rem 0 rgba(0, 0, 0, 0.8);
      border-radius: 14rem;

      @media (max-width: 768px) {
        width: 312rem;
        height: 177rem;
      }

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 14rem;
      }
    }

    .close-lightbox {
      color: white;
      font-size: 40rem;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);;
      box-shadow: 0 10rem 25rem 0 rgba(0, 0, 0);
      border-radius: 8rem;
      padding: 8rem;
      padding-inline: 16rem;
      padding-bottom: 12rem;
      top: 0.5%;
      width: 54rem;
      height: 46rem;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -5.7%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      @media (max-width: 768px) {
        font-size: 24rem;
        width: 40rem;
        height: 34rem;
        right: -9.7%;
    }
  }
}

.lightbox-overlay-who_we_helped.open {
  display: block;
}

.home-who-we-helped {
  padding-top: 156rem;
  padding-bottom: 140rem;
  background-color: #0095A9;
  position: relative;
  margin-top: 160rem;
  margin-bottom: 0;
  top: 2rem;

  @media (max-width: 768px) {
    margin-top: 169rem;
    margin-bottom: 0;
    padding-top: 52rem;
    padding-bottom: 54rem;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    color: var(--tertiary-bg);
    position: relative;

    .home-who-we-helped__row-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .home-who-we-helped__heading {
        font-size: 48rem;
        font-weight: 700;
        display: inline-block;
        padding-bottom: 40rem;
        position: relative;
        height: max-content;

        @media (max-width: 768px) {
          font-size: 28rem;
          padding-bottom: 18rem;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 81.5rem;
          height: 5rem;
          background-color: var(--tertiary-bg);

          @media (max-width: 768px) {
            height: 3rem;  
          }
        }
      }

      .home-who-we-helped__paragraph {
        text-align: right;
        font-size: 24rem;
        line-height: 120%;
        max-width: 661rem;

        @media (max-width: 768px) {
          text-align: left;
          font-size: 16rem;
          margin-top: 25rem; 
          margin-bottom: 36rem;
        }
      }
    }

    .swiper__home-who-we-helped {
      width: 100%;
      position: static;
      overflow: hidden;

      .swiper-button-next, .swiper-button-prev {
        margin-top: auto;
        top: 431rem;

        @media (max-width: 768px) {
          top: 409rem;
        }
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }

      .swiper-button-prev {
        width: 54rem;
        height: 54rem;
        left: -25rem;
        background: url("../../../../assets/images/slider-left-arrow.svg") no-repeat;
        background-size: contain;

        @media (max-width: 768px) {
          width: 32rem;
          height: 32rem;
          left: -16rem;
        }
      }

      .swiper-button-next {
        width: 54rem;
        height: 54rem;
        right: -25rem;
        background: url("../../../../assets/images/slider-right-arrow.svg") no-repeat;
        background-size: contain;

        @media (max-width: 768px) {
          width: 32rem;
          height: 32rem;
          right: -16rem;
        }
      }
    }

    .home-who-we-helped__row-bottom {
      margin-top: 73rem;
      position: relative;
      display: flex;
      gap: 41rem;
      width: 100%;
      height: 594rem;
      background: #FD8D1C;
     
      @media (max-width: 768px) {
        margin-top: 0;
        flex-direction: column;
        gap: 24rem;
        height: auto;
      }

      .home-who-we-helped-video__video {
        position: relative;
        
        .home-who-we-helped-video-play {
          background: url("../../../../assets/images/play_button.svg") no-repeat;
          width: 197rem;
          height: 77.743rem;
          position: absolute;
          background-size: contain;
          top: 50%;
          left: 43%;
          z-index: 2;
          transform: translate(-50%, -50%);
          cursor: pointer;

          @media (max-width: 768px) {
            width: 79rem;
            height: 31rem;
            left: 50%;
          }
        }

        .home-who-we-helped-video-play.clicked {
          display: none;
        }

        .home-who-we-helped-video__video__background {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          clip-path: polygon(0 0, 83% 0, 92% 100%, 0 100%);
          z-index: 1;

          @media (max-width: 768px) {
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          }
        }

        .home-who-we-helped-video__video__background.hidden {
          display: none;
        }

        iframe.clicked {
          clip-path: none;
          border: 16rem black solid;
          width: 1000rem;
          height: 610rem;
        }

        iframe {
          width: 988rem;
          height: 594rem;
          clip-path: polygon(0 0, 83% 0, 92% 100%, 0 100%);

          @media (max-width: 768px) {
            width: 312rem;
            height: 230rem;
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          }
        }
      }

      .home-who-we-helped-video__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 514rem;
        gap: 36rem;

        @media (max-width: 1440px) {
          max-width: 358rem;
        }

        @media (max-width: 768px) {
          padding: 0 26rem 29rem 24rem; 
          gap: 11rem;
        }

        &__heading {
          width: 100%;
          font-size: 32rem;
          font-weight: 700;
          line-height: 120%;
          display: inline-block;

          @media (max-width: 768px) {
            font-size: 20rem;
          }
        }

        &__paragraph {
          width: 100%;
          font-size: 18rem;
          line-height: 120%;
          display: inline-block;

          @media (max-width: 768px) {
            font-size: 14rem;
          }
        }
      }
    }
  }
}