.donors {
  &__inner {
    display: flex;
    flex-direction: column;
    margin-top: 192rem;
    margin-bottom: 146rem;
  
    @media (max-width: 768px) {
      margin-top: 97rem;
      margin-bottom: 58rem;
    }

    .donors__row-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .donors__heading {
        font-size: 48rem;
        font-weight: 700;
        display: inline-block;
        padding-bottom: 40rem;
        position: relative;

        @media (max-width: 768px) {
          font-size: 28rem;
          padding-bottom: 18rem;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 81.5rem;
          height: 5rem;
          background-color: #D54443;

          @media (max-width: 768px) {
            height: 3rem;  
          }
        }
      }

      .donors__paragraph {
        text-align: right;
        font-size: 24rem;
        line-height: 120%;
        max-width: 661rem;

        @media (max-width: 768px) {
          text-align: left;
          font-size: 16rem;
          margin-top: 25rem; 
          margin-bottom: 40rem;
        }
      }
    }

    .donors__row-bottom {
      margin-top: 84rem;
      margin-bottom: -42rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-height: 123rem;
      overflow: hidden;
      transition: all 0.5s;
     
      @media (max-width: 768px) {
        margin-top: 0;
        gap: 22rem;
        margin-bottom: 40rem;
        max-height: 260rem;
      }

      .list__item {
        border-radius: 10rem;
        background: #FFF;
        width: 249rem;
        height: 123rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 34rem;

        @media (max-width: 1440px) {
          margin-bottom: 6rem;
        }

        @media (max-width: 768px) {
          width: 145rem;
          height: 71rem;
          margin-bottom: 0;
        }

        img {
          width: 140rem;
          height: 53rem;
          object-fit: contain;

          @media (max-width: 768px) {
            width: 81.526rem;
            height: 30.593rem;
          }
        }
      }      
    }
  }

    .donors__more-button {
      margin-top: 74rem;
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
  
      @media (max-width: 768px) {
        margin-top: 50rem;
      }
  
      &__inner {
        background-color: transparent;
        color: #475C6C;
        font-size: 18rem;
        font-weight: 700;
        line-height: 120%;
        padding: 18rem 24rem;
        border-radius: 14rem;
        border: 2rem solid #475C6C;
        transition: all 0.5s;

        @media (max-width: 768px) {
          font-size: 14rem;
          padding: 12rem 18rem;
        }
  
        &:hover {
          color: var(--bg-color);
          border: 2rem solid var(--bg-color);
        }
      }
    }
}
